snippet cont
	context "${1:message}" do
		${0}
	end

snippet it
	it "${1:spec_name}" do
		${0}
	end

snippet desc
	describe "${1:spec_name}" do
		${0}
	end

snippet bef
	before do
		${0}
	end

snippet sub
  subject { ${0} }
